mat-form-field{
    width: 48%;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button[mat-raised-button] {
    height: 40px;
}

div[formArrayName="options"] {
    width: 100%;
    >div {
        width: 100%;    
        >div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        }
    }
    mat-form-field {
        width: 40%;
    }
}
