<ng-container [formGroup]="form" *ngFor="let c of formData | properties">
  <ng-container [ngSwitch]="c.value.type" *ngIf="form">
    <libdf-input *ngSwitchCase="'input'" [form]="form" [control]="c.value"></libdf-input>
    <libdf-checkbox *ngSwitchCase="'checkbox'" [form]="form" [control]="c.value"></libdf-checkbox>
    <libdf-radiogroup *ngSwitchCase="'radiogroup'" [form]="form" [control]="c.value"></libdf-radiogroup>

    <ng-container *ngSwitchCase="'array'">
        <h2>{{c.value.name}}</h2>
      <dwx-form [form]="form.get(c.name)" [formData]="c.value.items"></dwx-form>
    </ng-container>
    <ng-container *ngSwitchCase="'group'">
      <h3>{{c.value.name}}</h3>
      <dwx-form [formData]="c.value.items" [form]=form.get(c.name)></dwx-form>
    </ng-container>

  </ng-container>
</ng-container>
