<form #f="ngForm" [formGroup]="form" (ngSubmit)="submitForm(f)" class="register">
  <!-- <mat-form-field >
    <mat-select 
    [(ngModel)]="salutation" 
    name="salutation"
      placeholder="salutation">
      <mat-option value="mr">Mr</mat-option>
      <mat-option value="mrs">Mrs</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-form-field>   -->
  <libdf-input [form]="form" [control]="this.testdata.name"></libdf-input>
    <!-- <input 
    matInput 
    [(ngModel)]="firstname"
    name="firstname" 
    type="text" 
    placeholder="firstname">  
  </mat-form-field> -->

  <libdf-checkbox [form]="form" [control]="this.testdata.terms"></libdf-checkbox>

  <libdf-radiogroup [form]="form" [control]="this.testdata.relationship"></libdf-radiogroup>


  <ng-container formArrayName="tags" *ngFor="let item of form.get('tags').controls; index as i">
      <libdf-input [form]="form.get('tags')" [control]="this.testdata.tags[i]"></libdf-input>
  </ng-container>
  

<!-- <mat-form-field>
    <input 
    matInput 
    [(ngModel)]="firstname"
    name="firstname" 
    type="text" 
    placeholder="firstname"> 
  </mat-form-field> 
  <mat-form-field>
    <input 
    matInput 
    [(ngModel)]="lastname"
    name="lastname" 
    type="text" 
    placeholder="lastname"> 
  </mat-form-field>
  <mat-form-field>
    <input 
    matInput 
    [(ngModel)]="street"
    name="street" 
    type="text" 
    placeholder="street"> 
  </mat-form-field>
  <mat-form-field>
    <input 
    matInput 
    [(ngModel)]="phone"
    name="phone" 
    type="text" 
    placeholder="phone"> 
  </mat-form-field>
  <mat-form-field>
    <input 
    matInput 
    [(ngModel)]="password"
    name="password" 
    type="password" 
    placeholder="password"> 
  </mat-form-field> -->
  <button 
  [disabled]="!form.valid"
  mat-button 
  type="submit">
  Send
  </button>
</form>
